*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family:'kiff fonts' ;
    src: url(../Fonts/KiffoBDB-Light.ttf);
}
body{
    max-width: 1400px;
    font-family: 'kiff fonts' !important;
    display: flex;
    display: inline;
  justify-content: center;
  align-items: center;
}

.feature-wrap-layout2{
    padding-top: 80px !important;
}
.imgfo{
    max-width: 100%;
  height: 8em;
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgfo img, .logoseg{
    padding-top: 0%;
}
.redesfo{
    display: flex;
    justify-content: center;
    align-items: center;
}
/**style Buttons**/
.buttons{
    display: flex;
    flex-flow: row;
    position: absolute;
    left: 0;
    top:0;
  }

.buttons img{
  width:80% ;
  justify-content: space-between;
}
button .buttomt{
    width: 300px !important;
    height: 200px !important;
    padding-left: 2%; 
}
.podcastf:hover{
    transform: scale(1.2);
}

div{
    text-align: left !important;
}

.buttomt{
    width: 20em;
    padding-bottom: 5%;    
}
.buttom1,
.buttom2,
.buttom3{
    padding-left: 2%;    
}


/**para transformar el boton con imagen**/
.buttom1:hover{
   transform: scale(1.1);
}
.buttom2:hover{
    transform: scale(1.1);
}
.buttom3:hover{
    transform: scale(1.1);
}
.buttomt:hover{
    transform: scale(1.18);
 }
 .Podcastf:hover{
    transform: scale(1.18);
 }
@media only screen and (max-width: 767px) {
    div .tittleb{
        text-align: center; 
        font-size: 15px ;
        line-height: 45px; 
        padding-bottom: 0px;
    }
    .tittle{
        font-size: 30px !important;
    }
}
@media only screen and (max-width: 1067px) {
    .buttons{
        display: flex;
        flex-flow: row;
        position: absolute;
        left: 0;
        top:0;
      } 
   
}
@media only screen and (min-width: 720px) {
    .buttom1,
    .buttom2,
    .buttom3{
        margin-bottom: 30em;
        padding: 0px 10px;
        
        letter-spacing: 1px;
        text-transform: uppercase;
        float: left;
              
    }
    
    .buttomt{
        width: 30em;
        padding-bottom: 5%;
    }
    .Podcastf{
        width: 60em;
        padding-bottom: 10%;
        
    }
    header .logopri{
        width: 70% !important;
        padding: 0;
        margin: 0;
        height: 150px;
    }
    
    .buttons{
        width:100%;
        display:flex;
          align-items: center;
        justify-content: center;;
        
    }
    div .bienes img{
        height: 5.2em !important;
        width: 100% !important ;
    }
    img {
        vertical-align: middle;
      }
    .logos img{
        width: 40px;
    }
    div .tittleb{
        text-align: center; 
        font-size: 45px !important;
        line-height: 45px; 
        padding-bottom: 0px;
    }
    div .tittlep{
        text-align: center; 
        font-size: 35px !important;
        line-height: 45px !important; 
        padding-bottom: 0px;
    }

  }
  div .lineal{
      width: 150px;
      height: 4px;
      background-color: #d7733c;
      margin-bottom: 5%;
  }
  div .lineal2{
    width: 150px;
    height: 4px;
    background-color: #919150;
    margin-bottom: 5%;
  }
  div .lineal3{
    width: 150px;
    height: 4px;
    background-color: #8cafbe;
    margin-bottom: 5%;
  }